/*! base start  */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/*! base end  */

/*! header start  */

header {
  border-bottom: 1px solid #dee0ea;
  position: relative;
}

.global-notification {
  background-color: #1367ef;
  padding: 14px 0;
  text-align: center;
  font-size: 12px;
  color: white;
}

.global-notification a {
  color: white;
  font-weight: 600;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

.header-center .navigation .menu-list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header-center .menu-list .menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
}

.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
}

.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1367ef;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}

.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu-list .menu-link.active::after {
  width: 100%;
}

.header-center .menu-list i {
  font-size: 12px;
}

.header-right .header-right-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header-right .bi-person {
  font-size: 23px;
}

.header-right .toggle-button {
  border: none;
  background-color: transparent;
}

.header-right i {
  font-size: 18px;
  display: flex;
}

.header-right .header-cart {
  position: relative;
}

.header-right .header-cart-link .header-cart-count {
  width: 16px;
  height: 16px;
  background-color: #1367ef;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/*? menu dropdown start  */
header .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

header .menu-dropdown-content {
  width: 220px;
  background-color: #fff;
  border: 1px solid #dee0ea;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}

header .menu-dropdown-content a {
  display: flex;
  padding: 4px 30px;
  font-size: 14px;
  transition: color 0.2s ease;
}

header .menu-dropdown-content a:hover {
  color: #1367ef;
}

.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown-megamenu{
  background-color: white;
  border: 1px solid #dee0ea;
  padding: 22px;
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .menu-dropdown-wrapper{
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.megamenu-wrapper{
  position: static !important;
}

.megamenu-wrapper .megamenu-links{
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .megamenu-products-title{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.megamenu-wrapper .megamenu-menu-list{
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}


.megamenu-wrapper .megamenu-menu-list a{
  font-size: 14px;
}

.megamenu-wrapper .megamenu-single-title{
  font-size: 18px;
  font-weight: 500;
}

.megamenu-wrapper .megamenu-single-subtitle{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.megamenu-wrapper .megamenu-single-button{
  margin-top: 5px;
}




/*? menu dropdown end  */

/*! header end  */
