/*! comment item start  */

.tab-panel-reviews .comment-star {
  display: flex;
}

.tab-panel-reviews .comment-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.tab-panel-reviews .comment-item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.tab-panel-reviews .comment-avatar img {
  border-radius: 50%;
  display: flex;
}

.tab-panel-reviews .comment-text {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.tab-panel-reviews .comment-star i {
  color: gold;
  font-size: 12px;
}

.tab-panel-reviews .comment-meta {
  font-size: 12px;
}

.tab-panel-reviews .comment-description p {
  font-size: 14px;
}
/*! comment item end  */

/*! comment form start  */
/*! comment form end  */
