.single-product .product-gallery {
  width: 50%;
  padding-right: 15px;
}

.single-product .single-image-wrapper img {
  width: 100%;
}

.single-product .single-image-wrapper img:hover {
  cursor: zoom-in;
}

.single-product .gallery-thumbs {
  display: flex;
  column-gap: 10px;
}

.single-product .gallery-thumbs li {
  cursor: pointer;
  display: flex;
}

.single-product .gallery-thumbs li img {
  border: 1px solid transparent;
}

.single-product .gallery-thumbs li img.active {
  border-color: #000;
}

.single-product .gallery-thumbs li img:hover {
  border-color: #000;
}
